html, body, #root, #root > div {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}
#root > div {
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}
